[Unit]
Description=Copy logs from journald to CloudWatch
After=network.target

[Service]
ExecStart=/usr/bin/journald-to-cloudwatch
Environment="LOG_GROUP_NAME=my-log-group-name"

[Install]
WantedBy=multi-user.target
